{% for tag in include.tags %}
  <article class="post listbytag-article" id="{{ tag[0] | sluggify }}">
    <nav class="breadcrumb">
      <ul class="breadcrumb-left">
        <li><a href="{{ "/" | relative_url }}">Home</a></li>
        <li><a href="{{ "/#blog" | relative_url }}">Blog</a></li>
        <li><a href="{{ "/categories-n-tags" | relative_url }}">Categories & Tags</a></li>
      </ul>
    </nav>

    <header class="post-header">
      <h1>{{ tag[0] }}</h1>
    </header>

    {% assign listofposts = tag[1] %}
    {% include postlist.html posts=listofposts %}

    <h2>The End</h2>

  </article>
{% endfor %}
