html, body {
  margin: 0;
  height: 100%;
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 14px;
}

.post-header {
  text-align: center;
}

header h1 {
  display: inline-block;
  font-weight: bold;
  font-size: 1.6em;
  text-transform: uppercase;
  padding: 0.3em 1em;
  border: 2px solid black;
}

h2 {
  font-size: 1em;
  font-style: italic;
  text-transform: uppercase;
  text-align: center;
  overflow: hidden;
}

h2:before, h2:after {
  background-color: black;
  content: "";
  display: inline-block;
  height: 2px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}

h2:before {
  right: 0.5em;
  margin-left: -50%;
}

h2:after {
  left: 0.5em;
  margin-right: -50%;
}

main {
  width: 50em;
  margin: 0 auto;
}

.post-meta {
  display: flex;
}

.post-meta * {
  flex: 1;
}

.post-meta time {
  text-align: left;
}

.post-meta span {
  text-align: right;
}

.rss-subscribe {
  display: block;
  color: black;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
}

.social-bar {
  padding: 0;
  text-align: center;
}

.social-bar li {
  display: inline-block;
  text-transform: uppercase;
  font-weight: bold;
  padding: 0.3em;
  border: 2px solid black;
  margin: 0 1em;
}

.social-bar a {
  text-decoration: none;
  color: black;
}
