---
layout: default
---

<div id="duckpool">
</div>

<header id="home-header">
  <h1>{{ site.title | escape }}</h1>
  <p id="home-tagline">{{ site.taglines.first | escape }}</p>
</header>

<nav id="home-nav">
  <ul class="fancynav">
    <li class="fancynav-left"><a href="{{ "/projects/" | relative_url }}">Projects</a></li>
    <li class="fancynav-left"><a href="{{ "/about/" | relative_url }}">About</a></li>
    <li class="fancynav-middle"><a href="{{ "/#blog" | relative_url }}">Blog</a></li>
    <li class="fancynav-right"><a href="{{ "/contact/" | relative_url }}">Contact</a></li>
    <li class="fancynav-right"><a href="{{ "/categories-n-tags/" | relative_url }}">Categories & Tags</a></li>
  </ul>
</nav>

<main id="blog">
  <header class="post-header">
    <h1>Blog</h1>
  </header>
  {% include postlist.html posts=site.posts %}
  <h2>The End</h2>
  <a class="rss-subscribe" href="{{ "/feed.xml" | relative_url }}">Subscribe via RSS</a>
  {% include social-bar.html %}
</main>

<script>
  window.siteBaseurl = '{{ site.baseurl }}';
  window.sitePosts = {{ site.posts | jsonify | replace: "</script", "</scr\ipt" }};
  window.siteTaglines = {{ site.taglines | jsonify }};
</script>
<script src="{{ "/assets/home.js" }}"></script>
