---
layout: default
---
<nav class="breadcrumb">
  <ul class="breadcrumb-left">
    <li><a href="{{ "/" | relative_url }}">Home</a></li>
    <li><a href="{{ "/#blog" | relative_url }}">Blog</a></li>
  </ul>
</nav>

<main>
  <article class="post" itemscope itemtype="https://schema.org/BlogPosting">

    <header class="post-header">
      <h1 class="post-title" itemprop="name headline">{{ page.title | smartify | escape }}</h1>
      <p class="post-meta">
        <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%A, %-d %B, %Y" }}</time>
        {% if page.author %}
        <span class="post-author" itemprop="author" itemscope itemtype="https://schema.org/Person">
          <span itemprop="name">
            {{ page.author }}
          </span>
        </span>
        {% endif %}
        {% if page.categories.size > 1 %}
        <span class="post-category">Categories:
          {% for cat in page.categories %}
          <a href="{{ "/posts-by-category/" | relative_url }}#{{ cat | sluggify }}">{{ cat }}</a>{% unless forloop.last %},{% endunless %}
          {% endfor %}
        </span>
        {% else %}
        <span class="post-category">One of the <a href="{{ "/posts-by-category/" | relative_url }}#{{ page.categories[0] | sluggify }}">{{ page.categories[0] }}</a></span>
        {% endif %}
        {% if page.tags.size > 0 %}
        <span class="post-tags">
          Tags:
          <span itemprop="keywords">
            {% for tag in page.tags %}
              <a href="{{ "/posts-by-tag/" | relative_url }}#{{ tag | sluggify }}">{{ tag }}</a>{% unless forloop.last %},{% endunless %}
            {% endfor %}
          </span>
        </span>
        {% endif %}
      </p>
      {% if page.cover_image %}
      <img class="post-cover" src="{{ page.cover_image | relative_url }}">
      {% endif %}
    </header>

    <div class="post-content" itemprop="articleBody">
      {{ content }}
    </div>

    <h2>The End</h2>
    {% include social-bar.html %}

    <h2>Comments</h2>
    {% include comments.html %}

    <h2>Your turn</h2>
    {% include comments-form.html %}

  </article>
</main>
