// 1-settings/_sizing.scss
//
//


$padding-spacious-x: 1em;
$padding-spacious-y: 0.3em;

$padding-cosy-x: 0.6em;
$padding-cosy-y: 0.3em;

$padding-spacious: $padding-spacious-x $padding-spacious-y;
$padding-cosy: $padding-cosy-x $padding-cosy-y;

$margin-moderate: 1em;
